<script setup>
    import {ref} from 'vue';
    import {reactive} from 'vue'

    const message = ref('');
    const autoFocus = ref(true);
    const colsValue = ref(10);
    const rowsValue = ref(2);
    const lengthMsg = ref(120);
    const minLengthMsg = ref(10);
    const nameArea = ref('area');
    const param = reactive({
        readOnly: false,
        disable: false,
        autoСomplete: true,
        autoCorrect: true,
        spellcheck: false,
        wrap: 'hard',
        title: 'title',
        tabindex: 0,
    });
    const textarea = ref(null);

    function resize() {
        let newRows = 2;
        if (message.value.length === 0) {
            return;
        } else {
            newRows = Math.ceil((message.value.length) / (colsValue.value));
        }
        textarea.value.rows = newRows && newRows >= 2 ? newRows : 2;
    }

    function checkMsg(e) {
        if (e.target.value.length % colsValue.value == 0) {
            message.value = e.target.value;
            resize();
        }
    }

</script>

<template>
  <textarea v-model="message"
            ref="textarea"
            @input="checkMsg"
            @keyup="resize"
            @focus="resize"
            :title="param.title"
            :tabindex="param.tabindex"
            :autocorrect="param.autoCorrect?'on':'off'"
            :autofocus="autoFocus"
            :cols="colsValue"
            :rows="rowsValue"
            :disabled="param.disable"
            :maxlength="lengthMsg"
            :minlength="minLengthMsg"
            :id="nameArea"
            :name="nameArea"
            placeholder="Введите текст"
            :readonly="param.readOnly"
            :spellcheck="param.spellcheck"
            :wrap="param.wrap"
            :autocomplete="param.autoСomplete?'on':'off'"></textarea>
</template>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
